*{
pedding: 0;
margin: 0;

font-weight: bold;
font-size: 40px;
color: white;
}

body{
    background-image: url("mac.jpg");
    background-size: cover;
    height: 100%;
}

.container {
    text-align: center;
    margin-top: 50px;
    background-color: black;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

#counting {
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    font-size: large;
    height: 40px;
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid white;
    font-weight: bold;
}

#increment-btn {
    background-color: green;
    color: black;
}

#save-btn {
    background-color: yellow;
    color: black;
    margin-bottom: 20px;
}

#reset-btn {
    background-color: red;
    color: black;
    margin-bottom: 20px;
}



